{{> head }}

{{> navbar }}

<div class="row">
    <div class="col-8">
        <h1>Wallpaper</h1>
    </div>
    <div class="col-4">
        <img src="assets/img/1BF.jpg" alt="" class="img-thumbnail">
    </div>
</div>

{{> footer }}